package ${package}.${moduleName}.${constant};

import io.github.ghzj.guli.common.exception.ErrorCode;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
}
public interface ${className}CodeConstants {

    #set($a=$errorCode)
    #set($b=$errorCode + 1)

    ErrorCode ${tableNameToUpperCase}_SAVE_ERROR = new ErrorCode(${a}, "${comments}添加失败");
    ErrorCode ${tableNameToUpperCase}_UPDATE_ERROR = new ErrorCode(${b}, "${comments}更新失败");
}