package ${package}.${moduleName}.${DTO}.${packageName};

import io.github.ghzj.guli.common.vo.OrderParam;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

import java.io.Serializable;
import lombok.Data;
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@ApiModel("${comments} 分页 Request DTO")
public class ${className}ListDTO extends OrderParam {

#foreach ($column in $columns)
    //$column.comments
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrname;
#end

}